$primary-color: #4D148C;
$warn-color: #E53935;
$fedex-blue: #007AB7;

$forecast-short: #E53935;
$forecast-equal: #F7B118;
$forecast-exceed: #6FA86F;
$forecast-open-time: #B4E6F9;

$forecast-trip: #FAE4D6;
$projected-opentime: #F0DDE7;
$assigned-trip: #B7BBE3;
$pilot-unavailable: #E53935;

.ra-cell-content-forecast {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ra-cell-forecast-exceed {
    background-color: $forecast-exceed;
    font-weight: bold;
}

.ra-cell-forecast-equal {
    background-color: $forecast-equal;
}

.ra-cell-forecast-short {
    background-color: $forecast-short;
    font-weight: bold;
    color: white;
}

.ra-cell-open-time-count-included {
    background-image: repeating-linear-gradient(340deg, $forecast-open-time 0%, $forecast-open-time 12.5%, rgba(white, 0) 0%, rgba(white, 0) 25%);
}

.ra-cell-open-time-count-over-forecast {
    background-color: $forecast-open-time;
}

.ra-cell-only-forecast {
    
}

.ra-no-forecast-requirement {

}

.ra-forecast-trip {
    background-color: $forecast-trip;
}

.ra-opentime-trip {
    background-color: $forecast-open-time;
}

.ra-projected-open-trip {
    background-color: $projected-opentime;
}

.ra-assigned-trip {
    background-color: $assigned-trip;
}

.ra-no-trip-assignment {
    
}

.ra-pilot-unavailable {
    background-color: $pilot-unavailable;
}