<div *ngIf="!isPageInitiating else pageInitiating">
    <!-- Search -->
    <crew-nav-ra-search-panel
        [config]="searchCriteriaConfigs$"
        (onSubmit)="onRaSearchSubmit($event)">
    </crew-nav-ra-search-panel><!-- Search -->
    <!-- Content -->
    <div *ngIf="raData$.value else noRAData">
        <!-- Report header -->
        <crew-nav-ra-report-header
            [zulu]="isZulu"
            [raData]="raData$">
        </crew-nav-ra-report-header><!-- Report header -->
        <!-- Forecast coverage -->
        <div class="ra-chart-container">
            <crew-nav-ra-forecast-coverage-chart
                [raData]="raData$">
            </crew-nav-ra-forecast-coverage-chart><!-- Forecast coverage -->
            <crew-nav-ra-uncovered-requirements-chart 
                *ngIf="displayUserType$.value === raUserType.ADMIN"
                class="ra-sticky"
                [raData]="raData$">
            </crew-nav-ra-uncovered-requirements-chart>
        </div>
        <crew-nav-ra-reserve-pilot-calendar
            *ngIf="displayUserType$.value === raUserType.ADMIN"
            [raData]="raData$">
        </crew-nav-ra-reserve-pilot-calendar>
    </div><!-- Content -->
</div>


<ng-template #noRAData>
    <div class="ra-no-data-container">
        <mat-spinner *ngIf="isRADataLoading" color="primary" diameter="30" strokeWidth="5"></mat-spinner>
    </div>
</ng-template>

<ng-template #pageInitiating>
    <div class="ra-no-data-container ra-center">
        <mat-spinner color="primary" diameter="30" strokeWidth="5"></mat-spinner>
        <mat-label class="ra-page-loading">{{ loadingError ? loadingError : 'Loading...' }}</mat-label>
    </div>
</ng-template>