<div class="tb-container">
    <mat-card *ngFor="let trip of trips" class="tb-tripcard">
        <mat-card-title>
            <div style="font-size: medium; font-weight: bold; text-align: center;">
                Trip <a class="tb-popup-link">1234</a>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div class="tb-content">
                <div class="tb-time-table">
                    <div class="tb-time-table-block">
                        <div>
                            <div class="tb-title">Showtime</div>
                            <div class="tb-table-item">
                                <div>16AUG22</div>
                                <div>08:14 L</div>
                            </div>
                        </div>
                        <div style="position: relative">
                            <mat-icon [svgIcon]="'timer'" class="tb-timer-icon"></mat-icon>
                            <div style="margin-left: 25px;" class="color-accent">
                                <div style="font-weight: bold;">03:45:06</div>
                                <div style="font-size: smaller;">hh:mm:ss</div>
                            </div>
                        </div>
                    </div>
                    <mat-divider [vertical]="true"></mat-divider>
                    <div class="tb-time-table-block">
                        <div>
                            <div class="tb-title">End Time</div>
                            <div class="tb-table-item">
                                <div>18AUG22</div>
                                <div>10:12 L</div>
                            </div>
                        </div>
                    </div>
                    <mat-divider [vertical]="true"></mat-divider>
                    <div class="tb-time-table-block">
                        <div>
                            <div class="tb-title">Credit Hours</div>
                            <div class="tb-table-item"
                                style="font-size: large; font-weight: bold;"
                            >19:25</div>
                        </div>
                        <div>
                            <div class="tb-title">TAFB</div>
                            <div style="font-size: medium;">74:02</div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <span *ngFor="let base of routes; let i = index">
                        <span style="white-space: nowrap;">
                            <span 
                                *ngIf="base.isDeadhead" 
                                class="color-accent"
                                style="font-size: smaller">
                                (dh)
                            </span>
                            <span style="font-size: larger">
                                {{ base.base }}
                            </span>
                            <span
                                *ngIf="base.isLayover"
                                class="color-primary"
                                style="font-size: smaller;">
                                (lo)
                            </span>
                        </span>
                        <span *ngIf="i !== routes.length - 1">
                            -
                        </span>
                    </span>
                </div>
                <div style="padding-top: 1.5em; padding-bottom: 1.5em;">
                    <mat-divider></mat-divider>
                </div>
                <ng-container [ngSwitch]="trip.status">
                    <ng-container *ngSwitchCase="tripStatus.RANKING">
                        <div>
                            <div class="color-primary" style="font-size: medium; margin-bottom: 1em;">
                                Offer to accept Trip 1234 by ranking it:
                            </div>
                            <div class="tb-rank-selection-panel">
                                <button mat-stroked-button *ngFor="let rank of rankMap | keyvalue; let i = index"
                                    color="primary"
                                    class="tb-rank-number-button"
                                    (click)="onRankClick(i + 1, trip)"
                                >
                                    <ng-container [ngSwitch]="(i + 1) % 10">
                                        <ng-container *ngSwitchCase="1">
                                            {{i + 1}}st
                                        </ng-container>
                                        <ng-container *ngSwitchCase="2">
                                            {{i + 1}}nd
                                        </ng-container>
                                        <ng-container *ngSwitchCase="3">
                                            {{i + 1}}rd
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            {{i + 1}}th
                                        </ng-container>
                                    </ng-container>
                                </button>
                                <button mat-stroked-button 
                                    color="primary"
                                    (click)="onRankClick(0, trip)">NO INTEREST</button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="tripStatus.MISSED">

                    </ng-container>
                    <ng-container *ngSwitchCase="tripStatus.RESPONSED">

                    </ng-container>
                    <ng-container *ngSwitchCase="tripStatus.ASSIGNED">

                    </ng-container>
                    <ng-container *ngSwitchCase="tripStatus.ERROR">

                    </ng-container>
                </ng-container>
                
            </div>
        </mat-card-content>
    </mat-card>
</div>