<table 
    mat-table
    multiTemplateDataRows
    class="session-list"
    [dataSource]="sessionsData">

    <ng-container
        matColumnDef="status"
    >
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <mat-icon 
                svgIcon="not_started" 
                *ngIf="element.status === 1"
                class="session-list-status-icon"
                color="primary">
            </mat-icon>
        </td>
    </ng-container>

    <ng-container
        matColumnDef="session"
    >
        <th mat-header-cell *matHeaderCellDef>SESSION</th>
        <td mat-cell *matCellDef="let element"
            class="session-list-session"
        >
            {{ element.sessionId }}
        </td>
    </ng-container>

    <ng-container
        matColumnDef="tripCount"
    >
        <th mat-header-cell *matHeaderCellDef>TRIPS</th>
        <td mat-cell *matCellDef="let element"
            class="session-list-trips"
        >
            {{ element.tripCount }} Trips
        </td>
    </ng-container>

    <ng-container
        matColumnDef="startTime"
    >
        <th mat-header-cell *matHeaderCellDef>START DATE/TIME</th>
        <td mat-cell *matCellDef="let element"
            class="session-list-start-time"
            style="text-transform: uppercase;"
        >
            {{ element.startTime }}
        </td>
    </ng-container>

    <ng-container
        matColumnDef="base"
    >
        <th mat-header-cell *matHeaderCellDef>BASE</th>
        <td mat-cell *matCellDef="let element"
            class="session-list-base"
        >
            {{ element.base }}
        </td>
    </ng-container>

    <ng-container
        matColumnDef="eqNbr"
    >
        <th mat-header-cell *matHeaderCellDef>EQ</th>
        <td mat-cell *matCellDef="let element"
            class="session-list-eqNbr"
        >
            {{ element.eqNbr }}
        </td>
    </ng-container>

    <ng-container
        matColumnDef="seat"
    >
        <th mat-header-cell *matHeaderCellDef>SEAT</th>
        <td mat-cell *matCellDef="let element"
            class="session-list-seat"
        >
            {{ element.seat }}
        </td>
    </ng-container>

    <ng-container
        matColumnDef="tripProgress"
    >
        <th mat-header-cell *matHeaderCellDef>TRIP ASSIGN PROGRESS</th>
        <td mat-cell *matCellDef="let element"
            class="session-list-trip-progress"
        >
            <div class="progress">{{ element.tripAssignedPercentage }}%</div>
            <div class="amount">{{ element.tripAssigned }} / {{ element.tripAllMatch }}</div>
        </td>
    </ng-container>

    <ng-container
        matColumnDef="pilotProgress"
    >
        <th mat-header-cell *matHeaderCellDef>PILOT PROGRESS</th>
        <td mat-cell *matCellDef="let element"
            class="session-list-pilot-progress"
        >
            <div class="progress">{{ element.pilotAttemptedPercentage }}%</div>
            <div class="amount">{{ element.pilotAttempted }} / {{ element.pilotAllMatch }}</div>
        </td>
    </ng-container>

    <ng-container
        matColumnDef="estTime"
    >
        <th mat-header-cell *matHeaderCellDef>EST MAX TIME LEFT</th>
        <td mat-cell *matCellDef="let element"
            class="session-list-est-time"
        >
            {{ element.estTime * 1000 | date : 'mm:ss' }} Left
        </td>
    </ng-container>

    <ng-container
        matColumnDef="viewBtn"
    >
        <th mat-header-cell *matHeaderCellDef
            class="session-list-add-btn"
        >
            <button mat-mini-fab color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </th>
        <td mat-cell *matCellDef="let element"
            class="session-list-view-btn"
        >
            <button mat-icon-button (click)="sessionClicked(element)">
                <mat-icon color="primary">visibility</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="drowdownLists">
        <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplay.length"
            class="dropdown-list-row"
        >
            <div class="dropdown-list-container">
                <!-- View Trips -->
                <div class="dropdown-list">
                    <div>
                        <a  
                            class="dropdown-list-btn" 
                            [ngClass]="element.isViewTripExtended ? 'dropdown-list-btn-clicked' : ''"
                            (click)="onTripListExtendClick(element)">
                            <mat-icon>arrow_drop_up</mat-icon>
                        </a>
                        <a class="dropdown-label" (click)="onTripListExtendClick(element)">VIEW TRIPS</a> 
                    </div>
                    <table mat-table class="dropdown-table" [dataSource]="element.trips" *ngIf="element.isViewTripExtended">
                        <ng-container matColumnDef="id">
                            <td mat-cell *matCellDef="let element" class="dropdown-table-id"> 
                                <a (click)="onTripIdClick(element)">{{element.id}}</a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="date">
                            <td mat-cell *matCellDef="let element" style="text-transform: uppercase;"> 
                                / {{element.date}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>
                        <ng-container matColumnDef="info">
                            <td mat-cell *matCellDef="let element">- <a (click)="onTripInfoClick(element)">{{element.info}}</a></td>
                        </ng-container>
                        <tr mat-row class="dropdown-list-row" *matRowDef="let row; columns: ['id', 'date', 'status', 'info'];"></tr>
                    </table>
                </div><!-- View Trip -->
                <!--Pilot/Trip Legality Outcomes-->
                <div class="dropdown-list">
                    <div>
                        <a 
                            class="dropdown-list-btn" 
                            [ngClass]="element.isLegalityOutcomesExtended ? 'dropdown-list-btn-clicked' : ''"
                            (click)="onLegalityOutcomesClick(element)">
                            <mat-icon>arrow_drop_up</mat-icon>
                        </a>
                        <a class="dropdown-label" (click)="onLegalityOutcomesClick(element)">PILOT/TRIP LEGALITY OUTCOMES</a> 
                    </div>
                    <table mat-table class="dropdown-table" [dataSource]="element.legalities" *ngIf="element.isLegalityOutcomesExtended">
                        <ng-container matColumnDef="percentage">
                            <td mat-cell *matCellDef="let element" class="dropdown-table-legality-percentage"> 
                                {{ element.percentage === 0 ? '-' : element.percentage + '%' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="amount">
                            <td mat-cell *matCellDef="let element" class="dropdown-table-legality-amount">
                                {{ element.amount }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="info">
                            <td mat-cell *matCellDef="let element">
                                {{ element.info }}
                            </td>
                        </ng-container>
                        <tr mat-row class="dropdown-list-row" *matRowDef="let row; columns: ['percentage', 'amount', 'info'];"></tr>
                    </table>
                </div>
            </div><!--Pilot/Trip Legality Outcomes-->
        </td>
    </ng-container>

    <!-- Header -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <!-- Row -->
    <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplay;"
        class="info-row"
        [ngClass]="element.class"
    ></tr>
    <tr
        mat-row
        *matRowDef="let element; columns: ['drowdownLists']"
        class="detail-row"
        [ngClass]="element.class"
    ></tr>

</table>