<div class="container">
    <div class="left-panel">
        <mat-tab-group>
            <mat-tab label="CURRENT DRAFT SESSIONS">
                <div class="session-list-container">
                    <app-session-list-filter
                        [expandLabel]="'FILTER SESSION LIST'"
                        [inputForm]="sessionFilterForm"
                        (output)="setSessionFilterOutput($event)"
                    ></app-session-list-filter>
                    <div class="table-container">
                        <app-current-draft-session-list
                            [data]="sessionsData"
                        ></app-current-draft-session-list>
                    </div>
                    
                </div>
            </mat-tab>
            <mat-tab label="SESSION HISTORY"></mat-tab>
        </mat-tab-group>
    </div>
    <div class="right-panel">
        <ng-template #sessionResult>
            <mat-card class="session-result-container right-panel-outline">
                <app-session-list-filter
                    [expandLabel]="filterResultLabel"
                    [inputForm]="sessionResultFilterForm"
                    (output)="setSessionResultFilterOutput($event)"
                ></app-session-list-filter>
                <div class="table-container">
                    <app-session-result-list
                        [data]="sessionResultData"
                    ></app-session-result-list>
                </div>
            </mat-card>
        </ng-template>
        
        <ng-container *ngTemplateOutlet="sessionResult"></ng-container>
    </div>
</div>
