<div>Confirm Trip Acceptance</div>
<div class="table-container">
    <table mat-table [dataSource]="tripTable" class="trip-table">

        <ng-container matColumnDef="tripId">
            <th mat-header-cell *matHeaderCellDef> Trip </th>
            <td mat-cell *matCellDef="let element"> {{element.tripId}} </td>
        </ng-container>

        <ng-container matColumnDef="showtime">
            <th mat-header-cell *matHeaderCellDef> Showtime </th>
            <td mat-cell *matCellDef="let element"> {{element.showtime.toISOString() | date : 'hh:mm ddMMM'}} </td>
        </ng-container>

        <ng-container matColumnDef="countdown">
            <th mat-header-cell *matHeaderCellDef> Countdown </th>
            <td mat-cell *matCellDef="let element"> {{element.countdown | pdCountdown}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div class="action-button-container" style="display: flex; justify-content: flex-end; gap: 0.5em;">
    <button mat-button color="primary" [mat-dialog-close]="false">CANCEL</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">SUBMIT</button>
</div>