<div class="filter-container">
    <div class="filter-toolbar">
        <div class="filter-switch" [ngClass]="isFilterExpanded ? 'filter-switch-expand' : ''">
            <a (click)="onExpandFilterClick()">
                {{ expandLabel }}
            </a>
            <button mat-icon-button (click)="onExpandFilterClick()">
                <mat-icon>expand_less</mat-icon>
            </button>
        </div>
        <button 
            mat-stroked-button (click)="onCleanAllFilterClick()"
            class="filter-button"
            [disabled]="!isQueryFormDirty || !isClearable"
            color="primary">
            CLEAR ALL FILTERS
        </button>
    </div>
    <mat-card *ngIf="isFilterExpanded" class="filter-outline">
        <app-dynamic-query-form
            #queryForm
            [inputForm]="inputForm"
            (output)="formSubmit($event)"
            (dirty)="checkQueryFormDirty($event)"
            class="query-form"
        ></app-dynamic-query-form>
        <div>
            <button mat-raised-button type="submit" color="primary"
                class="filter-button" (click)="queryForm.onSubmit()"
            >
                Filter
            </button>
        </div>
    </mat-card>
</div>