$primary-color-light: #4D148C;
$primary-color: $primary-color-light;

.filter-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    a {
        user-select: none;
        cursor: pointer;
    }
    .filter-switch {
        display: flex;
        align-items: center;
        a {
            color: $primary-color;
            text-align: left;
            font: normal normal bold 13px/24px Roboto;
            letter-spacing: 0.78px;
        }
        mat-icon {
            transition: transform 0.3s;
        }
    }
    .filter-switch-expand {
        mat-icon {
            transform: rotate(180deg);
        }
    }
}

.filter-outline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 0px rgba($color: #000000, $alpha: 0.1);
    margin-bottom: 30px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.filter-button {
    font: normal normal medium 14px/16px Roboto;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

.query-form {
    width: 80%;
}

:host ::ng-deep .query-form {
    .form-control-empId {
        width: 300px !important;
    }
    .form-control-tripDate {
        width: 100px !important;
    }
}