.form-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    mat-form-field {
        transform: scale(0.9);
        width: 80px;
        margin-right: 10px;
    }
}