<mat-card class="pd-status-card"
    [ngClass]="sessionStatus === status.EMPTY ? 'full-screen' : ''">
    <mat-card-content class="pd-card-content" >
        <ng-container [ngSwitch]="sessionStatus">
            <ng-container *ngSwitchCase="status.END">
                <div style="margin: 1em; font-weight: bold; text-align: center;">
                    Draft Offers For {{'Folkwitha Longname'}}
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="status.EMPTY">
                <div style="margin: 1em; font-weight: bold; text-align: center;">
                    No Draft Offers Found For <br>{{'Folkwitha Longname'}}
                </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <div style="margin: 1em; font-weight: bold; text-align: center;">
                    {{ 3 }} Draft Trip(s) Offered to {{'Folkwitha Longname'}}
                </div>
            </ng-container>
        </ng-container>
        
        <div class="pd-status-container">
            <ng-container [ngSwitch]="sessionStatus">
                <ng-container *ngSwitchCase="status.LEVELING">
                    <div class="primary-color" style="font-size: medium;">
                        Response Collection Ends In:
                    </div>
                    <div class="pd-timer">
                        <mat-icon [svgIcon]="'timer'" color="primary"
                            class="timer-icon"
                        ></mat-icon>
                        <div class="pd-timer-time">
                            <span 
                                style="font-size: x-large; font-weight: bold; line-height: 33px;">
                                {{ 12 }}
                            </span> mins
                        </div>
                    </div>
                    <button mat-button color="primary" class="pd-button" style="align-self: flex-start; letter-spacing: 1.25px;"
                        [disabled]="!isRankTouched"
                        (click)="onResetAllClick()">
                        <mat-icon>close</mat-icon> <span>RESET PREFERENCES</span>
                    </button>
                </ng-container>
                <ng-container *ngSwitchCase="status.IMMEDIATE">
                    <div class="pd-timer-container">
                        <div class="pd-timer pd-timer-immediate">
                            <mat-icon [svgIcon]="'timer'" color="accent"
                                class="timer-icon"
                            ></mat-icon>
                            <div class="pd-timer-time-immediate">
                                <span style="font-size: large; font-weight: bold;">Immediate Assignment!</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="status.END">
                    <div class="pd-timer-container">
                        <div class="pd-timer pd-timer-end">
                            <mat-icon [svgIcon]="'timer'"
                                class="timer-icon svg-grey"
                            ></mat-icon>
                            <div class="pd-timer-time-immediate">
                                <span style="font-size: large; font-weight: bold;" class="color-grey">Session Over</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="status.EMPTY">
                    <div style=
                        "font-size: medium; 
                        padding: 1.5em;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 1.5em;">
                        <div 
                            style="text-align: center; 
                                font-weight: 600; 
                                font-size: larger;"
                            class="primary-color">
                            Have you signed up for Draft Offers?
                        </div>
                        <div style="width: 300px;">
                            <mat-icon [svgIcon]="'texting'" 
                                style="scale: 1.2;
                                height: 50px;
                                width: 50px;
                                margin-right: 1em;
                                float: left;"
                                class="color-grey"
                                >
                            </mat-icon>
                            <div>
                                FedEx can now send you a text message!
                            </div>
                        </div>
                        <div style="font-weight: 600;">
                            Update your <a class="pd-outside-link">profile</a> with a text number
                            to get notified when you are legal for a draft trip!
                        </div>
                        <div>
                            Draft messages are offered through Crew Notifications too.
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </mat-card-content>
</mat-card>
<ng-container [ngSwitch]="sessionStatus">
    <ng-container *ngSwitchCase="status.LEVELING">
        <div *ngIf="!isSubmitted" class="pd-tips-container">
            <div class="primary-color" style="font-weight:600; font-size: small;">
                Please rank the Draft Trips that you want to accept.
            </div>
            <div style="font-size: smaller;">
                When the Response Collection period ends, trips will be assigned, and Crew Notifications will be posted.
            </div>
        </div>
        <div *ngIf="isSubmitted" class="pd-tips-container">
            <div class="primary-color" style="font-weight:600; font-size: large;">
                Your preferences have been recorded!
            </div>
            <div class="primary-color" style="font-weight:500;">
                When Response Collection ends, trips will be assigned, and Crew Notifications will be posted.
            </div>
            <div style="font-size: smaller;">
                You can still make changes until the countdown finishes. Feel free to navigate away from this screen.
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="status.IMMEDIATE">
        <div *ngIf="!isAssigned && !isTripLeft" class="pd-tips-container primary-color" 
            style="font-weight:bold; font-size: large;">
            Updates Below!
        </div>
        <div *ngIf="!isAssigned && isTripLeft" class="pd-tips-container">
            <div class="primary-color" style="font-weight: 500;">
                You were not assigned a trip based on your submitted preferences.
            </div>
            <div class="primary-color" style="font-weight:600; font-size: larger;">
                There are still Trips left open in this Session.
            </div>
            <div style="font-size: smaller;">
                Trip Assignment will be processed immediately upon Acceptance.    
            </div>
        </div>
        <div *ngIf="isAssigned" class="pd-tips-container">
            <div class="accent-color" style="font-weight: bold; font-size: large;">
                You have been assigned Trip 1234!
            </div>
            <div style="font-size: larger;">
                Please acknowledge the trip in your <a class="pd-outside-link">Crew Notifications.</a>
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="status.END">
        <div class="pd-tips-container">
            <div class="primary-color" style="font-weight:600;">
                Draft Session {{ 123456 }} ended at {{ curTime.toISOString() | date : 'hh:mm ddMMMyy'}}
            </div>
            <ng-container *ngIf="isAssigned else notAssigned">
                <div class="accent-color" style="font-weight: bold; font-size: large;">
                    You have been assigned Trip 1234!
                </div>
                <div style="font-size: larger;">
                    Please acknowledge the trip in your <a class="pd-outside-link">Crew Notifications.</a>
                </div>
            </ng-container>
            <ng-template #notAssigned>
                <div class="primary-color" style="font-weight: bold;">
                    No trips were assigned to you.
                </div>
            </ng-template>
        </div>
        
    </ng-container>
</ng-container>