<mat-card style="width: 200px; height: 150px; background-color: black;">
    <mat-card-header>
        Test Dialog
    </mat-card-header>
    <mat-card-content>
        {{ data }}
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button (click)="onCreateDialogClick()">
            Create Dialog
        </button>
        <button mat-flat-button (click)="onCreateDialogOnNewLayerClick()">
            Create Dialog on New Layer
        </button>
    </mat-card-actions>
</mat-card>