<div class="window">
    <div class='toolbar-test'>
        <div class='filter-left'>
            <app-session-list-filter
                [expandLabel]="'FILTER SESSION LIST'"
                [inputForm]="sessionFilterForm"
                (output)="setSessionFilterOutput($event)"
            ></app-session-list-filter>
        </div>
        <div class='filter-right'>
            <app-session-list-filter
                [expandLabel]="filterResultLabel"
                [inputForm]="sessionResultFilterForm"
                (output)="setSessionResultFilterOutput($event)"
            ></app-session-list-filter>
        </div>
    </div>
    <div class="table-container">
        <div class="sub-table">
            <app-current-draft-session-list
                [data]="sessionsData"
            ></app-current-draft-session-list>
        </div>
        <div class="sub-table">
            <app-session-result-list
            [data]="sessionResultData"
            ></app-session-result-list>
        </div>
    </div>
    
</div>
