<div class="ra-forecast-container" *ngIf="raData$.value">
    <mat-divider></mat-divider>
    <div class="ra-forecast-title">Forecast Reserve Coverage</div>
    <!-- Legend -->
    <ng-container [ngSwitch]="uiParams$.value.chartUserType">
        <!-- Admin -->
        <ng-container *ngSwitchCase="raUserType.ADMIN">
            <div class="ra-forecast-legend-container-admin">
                <!-- Requirement Count -->
                <div class="ra-forecast-legend-list">
                    <div>Requirement Count</div>
                    <div *ngFor="let legend of uiParams$.value.requirementCountLegends" class="ra-forecast-legend">
                        <div class="ra-forecast-legend-cell">
                            <ng-container *ngTemplateOutlet="cell; context: {cellObj: legend}">
                            </ng-container>
                        </div>
                        <div class="ra-forecast-legend-discription">{{ legend.discription }}</div>
                    </div>
                </div><!-- Requirement Count -->
                <!-- Coverage Differences -->
                <div class="ra-forecast-legend-list">
                    <div>Coverage Differences</div>
                    <div *ngFor="let legend of uiParams$.value.coverageDifferencesLegends" class="ra-forecast-legend">
                        <div class="ra-forecast-legend-cell">
                            <ng-container *ngTemplateOutlet="cell; context: {cellObj: legend}">
                            </ng-container>
                        </div>
                        <div class="ra-forecast-legend-discription">{{ legend.discription }}</div>
                    </div>
                </div><!-- Coverage Differences -->
            </div>
        </ng-container><!-- Admin -->
        <!-- Pilot -->
        <ng-container *ngSwitchCase="raUserType.PILOT">
            <div class="ra-forecast-legend-container-pilot">
                <div *ngFor="let legend of uiParams$.value.pilotLegends" class="ra-forecast-legend">
                    <div class="ra-forecast-legend-cell">
                        <ng-container *ngTemplateOutlet="cell; context: {cellObj: legend}">
                        </ng-container>
                    </div>
                    <div class="ra-forecast-legend-discription">{{ legend.discription }}</div>
                </div>
            </div>
        </ng-container><!-- Pilot -->
    </ng-container>
    <!-- Legend -->
    <!-- Chart -->
    <div class="ra-forecast-coverage-chart-container">
        <table mat-table [dataSource]="uiParams$.value.fcChartData" [trackBy]="fcChartTrackBy" class="ra-forecast-coverage-table">
            <!-- Date -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="ra-forecast-table-header">
                    <div class="ra-forecast-coverage-chart-date-header">
                        <span>Date</span> 
                        <span style="font-style: italic;"># Reqs<br>Cvg Dif</span>
                    </div> 
                </th>
                <td mat-cell *matCellDef="let element; let i = index"
                    class="ra-fc-date-col"
                    [attr.rowspan]="4" 
                    [style.display]="i % 4 === 0 ? '' : 'none'">
                    {{ element.date }}
                </td>
            </ng-container><!-- Date -->
            <!-- RSV PRD -->
            <ng-container matColumnDef="rsvPrd">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="ra-forecast-table-header">
                    <span>RSV<br>PRD</span> 
                </th>
                <td mat-cell *matCellDef="let element; let i = index" 
                    [attr.rowspan]="2" 
                    [style.display]="i % 2 === 0 ? '' : 'none'">
                    {{ i % 4 === 0 ? 'RA' : '' }}
                    {{ i % 4 === 2 ? 'RB' : '' }}
                </td>
            </ng-container><!-- RSV PRD -->
            <!-- Count Header -->
            <ng-container matColumnDef="tripLengthHeader">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="raData$.value.maxTripLength">
                    Count, grouped by Trip Length (in days)
                </th>
                <td mat-cell *matCellDef="let element"> </td>
            </ng-container><!-- Count Header -->
            <!-- RSV PRD -->
            <ng-container *ngFor="let e of [].constructor(raData$.value.maxTripLength + 1); let i = index" 
                [matColumnDef]="'count' + i">
                <th mat-header-cell *matHeaderCellDef class="ra-fc-count-cell-header ra-forecast-table-header">
                    {{ i }}
                </th>
                <td mat-cell *matCellDef="let element" class="ra-fc-count-cell-content">
                    <div class="ra-fc-count-cell-container">
                        <ng-container *ngTemplateOutlet="cell; context: {cellObj: element.tripDateCells[i]}">
                        </ng-container>
                    </div>
                </td>
            </ng-container><!-- RSV PRD -->
            <tr mat-header-row *matHeaderRowDef="uiParams$.value.fcChartHeaderColumns; sticky: true" 
                [attr.background-color]="raData$.value.raBackgroundColor"></tr>
            <tr mat-header-row *matHeaderRowDef="uiParams$.value.fcChartDateHeaderColumns; sticky: true" 
                [attr.background-color]="raData$.value.raBackgroundColor"></tr>
            <tr mat-row *matRowDef="let row; columns: uiParams$.value.fcChartCellColumns;"></tr>
        </table>
    </div><!-- Chart -->
</div>

<!-- Cell -->
<ng-template #cell
    let-cellObj="cellObj">
    <div *ngIf="cellObj" [ngClass]="[cellObj.cellClass, cellObj.cellContentClass]">
        <div *ngIf="!cellObj.hideContent">
            {{ cellObj.cellContent }}
        </div>
    </div>
</ng-template><!-- Cell -->