@import '../../ra-styles.scss';

$cell-width: 2em;
$cell-height: 2em;

.ra-forecast-container {
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1em;
}

.ra-forecast-legend-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.ra-forecast-title {
    font-size: large;
    font-weight: 500;
    margin-top: 0.5em;
}

.ra-forecast-legend-container-admin {
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: center;
    margin: 1em;
}

.ra-forecast-legend-container-pilot {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    height: 6em;
    justify-content: center;
    margin: 1em;
}

.ra-forecast-legend-cell {
    width: 1.5em;
    height: 1.5em;
    border: 2px solid rgba(grey, 0.2);
}

.ra-forecast-legend {
    display: flex;
    align-items: center;
}

.ra-forecast-legend-discription {
    margin-left: 0.5em;
}

.ra-forecast-coverage-chart-container {

}

.ra-forecast-coverage-table {
    border-collapse: separate;
    border: 2px solid rgba($color: #000000, $alpha: 0.12);
    th {
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-right: 1.5px solid rgba($color: #000000, $alpha: 0.12);
    }
    th:last-child {
        border-right: 0;
    }
    tr {
        height: $cell-height;
    }
    td {
        border-right: 1.5px solid rgba($color: #000000, $alpha: 0.12);
        border-bottom: 1.5px solid rgba($color: #000000, $alpha: 0.12);
        text-align: center;
    }
    tr:nth-child(8n + 1) {
        td {
            border-top: 1.5px solid rgba(#000000, 0.12);
        }
    }
    tr:nth-child(8n + 4) {
        td {
            border-bottom: 1.5px solid rgba(#000000, 0.12);
        }
    }
    tr:nth-child(8n + 5) {
        td {
            border-top: 1.5px solid rgba(#000000, 0.12);
        }
        background-color: rgba(#000000, 0.05);
    }
    tr:nth-child(8n + 6) {
        background-color: rgba(#000000, 0.05);
    }
    tr:nth-child(8n + 7) {
        background-color: rgba(#000000, 0.05);
    }
    tr:nth-child(8n + 8) {
        background-color: rgba(#000000, 0.05);
        td {
            border-bottom: 1.5px solid rgba(#000000, 0.12);
        }
    }
    .ra-fc-date-col {
        padding-left: 0;
    }
}

.ra-fc-count-cell-header {
    width: 1.5em;
    text-align: center;
    top: $cell-height + $cell-height * 0.325 !important;
}

.ra-fc-count-cell-content {
    line-height: $cell-width + 0.2em;
    padding: 0 !important;
}

.ra-forecast-coverage-chart-date-header {
    display: flex;
    gap: 1em;
    align-items: center;
}

.ra-fc-count-cell-container {
    position: relative;
    width: $cell-width + 0.2em;
    height: $cell-height + 0.2em;
}

.ra-forecast-table-header {
    border-bottom: 3px solid rgba(black, 0.12);
}

.ra-popup-frame {
    z-index: 200;
    position: absolute;
    top: 0;
}

.ra-popup-frame-left {
    left: 3em;
}

.ra-popup-frame-right {
    right: 3em;
}

.ra-fc-selected-cell-upper {
    position: absolute;
    z-index: 40;
    top: -2px;
    left: -3px;
    border: 3px solid rgba(black, 1);
    height: calc(#{$cell-height + 0.2em} * 2);
    width: calc(#{$cell-width + 0.2em});
}

.ra-fc-selected-cell-lower {
    position: absolute;
    bottom: -2px;
    left: -3px;
    z-index: 40;
    border: 3px solid rgba(black, 1);
    height: calc(#{$cell-height + 0.2em} * 2);
    width: calc(#{$cell-width + 0.2em});
}