<div class="ra-ur-container">
    <mat-divider></mat-divider>
    <div class="ra-ur-title">Uncovered Requirements</div>
    <div class="ra-ur-table-container" [ngStyle]="{'max-height': screenY * 0.8 + 'px'}">
        <table mat-table 
            [dataSource]="uiParams$.value.urChartData" 
            [trackBy]="urChartTrackBy" 
            class="ra-ur-table">
            <!-- Requirement -->
            <ng-container matColumnDef="requirement">
                <th mat-header-cell *matHeaderCellDef>
                    Requirement
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.cellClass">
                    {{ element.requirement }}
                </td>
            </ng-container><!-- Requirement -->
            <!-- Date -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>
                    Date
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.cellClass">
                    {{ element.date }}
                </td>
            </ng-container><!-- Date -->
            <!-- Days -->
            <ng-container matColumnDef="days">
                <th mat-header-cell *matHeaderCellDef>
                    Days
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.cellClass">
                    {{ element.days }}
                </td>
            </ng-container><!-- Days -->
            <!-- RSV PRD -->
            <ng-container matColumnDef="rsvPrd">
                <th mat-header-cell *matHeaderCellDef>
                    RSV PRD
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.cellClass">
                    {{ element.rsvPrd }}
                </td>
            </ng-container><!-- RSV PRD -->
            <!-- Type of Requirement -->
            <ng-container matColumnDef="typeOfRequirement">
                <th mat-header-cell *matHeaderCellDef>
                    Type of Requirement
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.cellClass">
                    {{ element.typeOfRequirement }}
                </td>
            </ng-container><!-- Type of Requirement -->
            <!-- Cvg -->
            <ng-container matColumnDef="cvg">
                <th mat-header-cell *matHeaderCellDef style="width: 1.8em; padding: 0;">
                    Cvg
                </th>
                <td mat-cell *matCellDef="let element" class="ra-ur-cvg-cell">
                    <div class="ra-ur-cvg-cell-container">
                        <ng-container *ngTemplateOutlet="cell; context: {cellObj: element.cvg}">
                        </ng-container>
                    </div>
                </td>
            </ng-container><!-- Cvg -->
            <tr mat-header-row *matHeaderRowDef="uiParams$.value.urChartHeaderColumns; sticky: true"
                [attr.background-color]="raData$.value.backgroundColor"></tr>
            <tr mat-row *matRowDef="let row; columns: uiParams$.value.urChartHeaderColumns;"
                [attr.background-color]="raData$.value.backgroundColor"></tr>
        </table>
    </div>
</div>

<!-- Cell -->
<ng-template #cell
    let-cellObj="cellObj">
    <div *ngIf="cellObj" [ngClass]="[cellObj.cellClass, cellObj.cellContentClass]">
        <div *ngIf="!cellObj.hideContent">
            {{ cellObj.cellContent }}
        </div>
    </div>
</ng-template><!-- Cell -->