.ra-ur-container {
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1em;
}

.ra-ur-title {
    font-size: large;
    font-weight: 500;
    margin-top: 0.5em;
}