$blue: #007AB7;

.pd-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #F7F4F4;

}

.pd-status-panel {
    width: 100%;
}

.pd-submit-button {
    position: fixed; 
    bottom: 5%; 
    right: 5%; 
    border-radius: 18px;
    font-size: normal;
    font-weight: normal;
    letter-spacing: 1.42px;
}

.pd-popup-link {
    color: $blue;
    cursor: pointer;
    text-decoration: underline;
}

.full-screen {
    height: 100%;
}