<div class="pd-container">
    <app-pd-session-status-panel 
        class="pd-status-panel"
        [sessionStatus]="sessionStatus"
        [isAssigned]="isPilotAssigned"
        (resetAll)="onResetAll()">
    </app-pd-session-status-panel>
    <app-pd-trip-board
        [trips]="trips"
        (rankChoice)="onRankSubmit($event)">
    </app-pd-trip-board>
</div>
<button mat-raised-button 
    *ngIf="sessionStatus === sessionStatusCode.LEVELING"
    color="primary"
    class="pd-submit-button"
    (click)="onSubmitChoiceClick()"
>
    SUBMIT CHOICE
</button>